*{
    margin: 0; 
}
body{
    background-color: black;

}
.contenedor{
    margin: auto;
    margin-top: 50px;
    background-color: white;
    width: 450px;
    height: 600px; /* no estoy segura si esta es buena practica, preferí dejarlo en auto pero no dejaba el espacio en la parte de abajo*/
}
.postheader{
    width: 100%;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    padding: 5px;
}
.postheader h4 {
    width: 380px; /*es el estilo para dejar el espacio entre el titulo y los tres puntitos. No creo que sea una buena practica me gustaria que me dieran alguna pista. Intente con space-betwen pero no daba el resultado que queria.*/
}
.contenedor img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    height: auto;

}
.iconos{
    padding: 15px;
}
.iconos :nth-child(4){
    float: right;
    
}

.texto1, .texto2 {
    width: 100%;
    padding: 10px;
    font-family: sans-serif;
    justify-content: center;
    font-size: small; /*tuve desencuantros a la hora de encontrar el tamaño de la letra para que se viera igual*/
    
}

/*por favor les agradeceria en el alma que me dijeran las buenas practicas que deberia hacer mejor.*/
/*El resultado es bastante parecido, pero me gustaria recibir consejos en cuanto a la esctructuracion del html o mas cosas que ahora no veo por mi inexperiencia. Gracias!!!*/
